input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    
    touchpad {
        tap
        natural-scroll
    }
}

// XWayland pour les apps X11 (STM32CubeMX, etc.)
spawn-at-startup "xwayland-satellite"

output "eDP-1" {
    scale 1.0
}

layout {
    gaps 8
    border {
        width 2
    }
    focus-ring {
        off
    }
}

prefer-no-csd

spawn-at-startup "mako"
spawn-at-startup "noctalia-shell"

binds {
    Mod+Return { spawn "alacritty"; }
    Mod+B { spawn "firefox"; }
    Mod+Space { spawn "fuzzel"; }
    Mod+D{ spawn "fuzzel"; }
    Mod+Q { close-window; }
    
    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    
    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }
    Mod+Right { focus-column-right; }
    
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }
    
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    
    Print { screenshot; }
    Mod+Print { screenshot-window; }
    
    XF86AudioRaiseVolume { spawn "pamixer" "-i" "5"; }
    XF86AudioLowerVolume { spawn "pamixer" "-d" "5"; }
    XF86AudioMute { spawn "pamixer" "-t"; }
    
    XF86MonBrightnessUp { spawn "brightnessctl" "set" "+5%"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
    
    Mod+Shift+E { quit; }
}
